name: AutoIssueSSLCert

on:
  schedule:
    - cron: "33 2 1 * *"
  watch:
    types: [started]

env:
    ACME: /home/runner/.acme.sh/acme.sh
    DNSAPI: ${{ secrets.DNSAPI }}
    ZIPPWD: ${{ secrets.ZIPPWD }}
    ACMEMAIL: ${{ secrets.ACMEMAIL }}

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install & Configure ACME.SH
      run: |
        wget -O -  https://get.acme.sh | sh -s email="$ACMEMAIL"
        $ACME --upgrade
        echo "$DNSAPI" >> /home/runner/.acme.sh/account.conf
    - name: Issue & Deploy Certificates
      run: |
        mkdir -p ./Certs
        $ACME --register-account  -m "$ACMEMAIL" --server zerossl
        # Wildcard certificate example.
        # replace 'domain.com' with your own domain name.
        # Replace '[DNS]' with the DNS provider used for your own domain name.
        $ACME --issue --server zerossl --dns [DNS] -d *.domain.com -d domain.com
        $ACME --installcert -d *.domain.com --key-file ./Certs/*.domain.com.key --fullchain-file ./Certs/*.domain.com.cer
        zip -rP "$ZIPPWD" Certs.zip Certs
    - name: Commit
      run: |
        # Replace 'you@example.com' and 'yourname' with your own email and user name
        git config --global user.email you@example.com
        git config --global user.name yourname
        git add ./Certs.zip
        git commit -m "Update Certs" -a
    - name: Push
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
